ReswareOrderMonitorService/Service References/ReswareActionEvent/ReceiveActionEventService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:447/ReceiveActionEventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" />
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:447/ReceiveActionEventService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActionEventService.Models" />
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:447/ReceiveActionEventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ReceiveActionEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="data" nillable="true" type="q1:ReceiveActionEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveActionEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="ReceiveActionEventResult" nillable="true" type="q2:ReceiveActionEventResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActionEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActionEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActionEventService.Models" minOccurs="0" name="GetAllActionEventsResult" nillable="true" type="q3:ArrayOfActionEventServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionEventById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActionEventByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ActionEventService.Models" minOccurs="0" name="GetActionEventByIdResult" nillable="true" type="q5:ActionEventServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActionEventById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActionEventByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActionEventByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActionEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ActionEventService.Models" minOccurs="0" name="actionEventServiceResult" nillable="true" type="q7:ActionEventServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActionEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActionEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>