ReswareOrderMonitorService/Service References/ReswareSigning/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IReceiveSigningService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SigningService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReceiveSigningService_ReceiveSigning_InputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveSigning" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_ReceiveSigning_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReceiveSigningResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_GetAllSignings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSignings" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_GetAllSignings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSigningsResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_GetSigningById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSigningById" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_GetSigningById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSigningByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_DeleteSigningById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSigningById" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_DeleteSigningById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSigningByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_UpdateSigning_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSigning" />
  </wsdl:message>
  <wsdl:message name="IReceiveSigningService_UpdateSigning_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSigningResponse" />
  </wsdl:message>
  <wsdl:portType name="IReceiveSigningService">
    <wsdl:operation name="ReceiveSigning">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiveSigningService/ReceiveSigning" message="tns:IReceiveSigningService_ReceiveSigning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiveSigningService/ReceiveSigningResponse" message="tns:IReceiveSigningService_ReceiveSigning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSignings">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiveSigningService/GetAllSignings" message="tns:IReceiveSigningService_GetAllSignings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiveSigningService/GetAllSigningsResponse" message="tns:IReceiveSigningService_GetAllSignings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSigningById">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiveSigningService/GetSigningById" message="tns:IReceiveSigningService_GetSigningById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiveSigningService/GetSigningByIdResponse" message="tns:IReceiveSigningService_GetSigningById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSigningById">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiveSigningService/DeleteSigningById" message="tns:IReceiveSigningService_DeleteSigningById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiveSigningService/DeleteSigningByIdResponse" message="tns:IReceiveSigningService_DeleteSigningById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSigning">
      <wsdl:input wsaw:Action="http://tempuri.org/IReceiveSigningService/UpdateSigning" message="tns:IReceiveSigningService_UpdateSigning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReceiveSigningService/UpdateSigningResponse" message="tns:IReceiveSigningService_UpdateSigning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IReceiveSigningService" type="tns:IReceiveSigningService">
    <wsp:PolicyReference URI="#CustomBinding_IReceiveSigningService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveSigning">
      <soap12:operation soapAction="http://tempuri.org/IReceiveSigningService/ReceiveSigning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSignings">
      <soap12:operation soapAction="http://tempuri.org/IReceiveSigningService/GetAllSignings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSigningById">
      <soap12:operation soapAction="http://tempuri.org/IReceiveSigningService/GetSigningById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSigningById">
      <soap12:operation soapAction="http://tempuri.org/IReceiveSigningService/DeleteSigningById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSigning">
      <soap12:operation soapAction="http://tempuri.org/IReceiveSigningService/UpdateSigning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="CustomBinding_IReceiveSigningService" binding="tns:CustomBinding_IReceiveSigningService">
      <soap12:address location="https://pcnd6.pcnclosings.com:444/SigningService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pcnd6.pcnclosings.com:444/SigningService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>