ReswareOrderMonitorService/Service References/ReswareSigning/SigningService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReceiveSigningData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BilingualLanguage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CutoffTime" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="DeliveryAddressSameAsSigning" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeliveryCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeliveryZipCode" nillable="true" type="xs:string" />
      <xs:element name="FileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCancelled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCompanyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationCounty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationStreet1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationStreet2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationZIP" nillable="true" type="xs:string" />
      <xs:element name="SenderSigningNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SigningDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SigningName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SigningParties" nillable="true" type="tns:ArrayOfReceiveSigningParty" />
      <xs:element minOccurs="0" name="SigningTimeZoneIndex" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SigningTypeID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SpecialInstructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacteeEmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacteeMobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacteePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransacteeWorkPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveSigningData" nillable="true" type="tns:ReceiveSigningData" />
  <xs:complexType name="ArrayOfReceiveSigningParty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiveSigningParty" nillable="true" type="tns:ReceiveSigningParty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiveSigningParty" nillable="true" type="tns:ArrayOfReceiveSigningParty" />
  <xs:complexType name="ReceiveSigningParty">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveSigningParty" nillable="true" type="tns:ReceiveSigningParty" />
  <xs:complexType name="ReceiveSigningResponse">
    <xs:sequence>
      <xs:element name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverSigningNumber" nillable="true" type="xs:int" />
      <xs:element name="ResponseCode" type="tns:ReceiveSigningResponseCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveSigningResponse" nillable="true" type="tns:ReceiveSigningResponse" />
  <xs:simpleType name="ReceiveSigningResponseCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SUCCESS" />
      <xs:enumeration value="INVALID_LOGIN" />
      <xs:enumeration value="INVALID_FILE_NUMBER" />
      <xs:enumeration value="DOWN_FOR_MAINTENANCE" />
      <xs:enumeration value="UNEXPECTED_ERROR" />
      <xs:enumeration value="SIGNING_ERROR" />
      <xs:enumeration value="SIGNING_PARTY_ERROR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReceiveSigningResponseCode" nillable="true" type="tns:ReceiveSigningResponseCode" />
</xs:schema>