ReswareOrderMonitorService/Service References/ReswareSigning/SigningService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" />
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SigningService.Models" />
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ReceiveSigning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="SigningData" nillable="true" type="q1:ReceiveSigningData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveSigningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Adeptive.ResWare.Services" minOccurs="0" name="ReceiveSigningResult" nillable="true" type="q2:ReceiveSigningResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSignings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSigningsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SigningService.Models" minOccurs="0" name="GetAllSigningsResult" nillable="true" type="q3:ArrayOfSigningServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSigningById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSigningByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SigningService.Models" minOccurs="0" name="GetSigningByIdResult" nillable="true" type="q5:SigningServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSigningById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSigningByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSigningByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSigning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SigningService.Models" minOccurs="0" name="signingPartyResult" nillable="true" type="q7:SigningServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSigningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSigningResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>