ReswareOrderMonitorService/Service References/ReswareSigning/SigningService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/SigningService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SigningService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://pcnd6.pcnclosings.com:444/SigningService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSigningServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SigningServiceResult" nillable="true" type="tns:SigningServiceResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSigningServiceResult" nillable="true" type="tns:ArrayOfSigningServiceResult" />
  <xs:complexType name="SigningServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClosingAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingCounty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClosingLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClosingZip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MobilePhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SigningParties" nillable="true" type="tns:ArrayOfSigningPartyServiceResult" />
      <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SigningServiceResult" nillable="true" type="tns:SigningServiceResult" />
  <xs:complexType name="ArrayOfSigningPartyServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SigningPartyServiceResult" nillable="true" type="tns:SigningPartyServiceResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSigningPartyServiceResult" nillable="true" type="tns:ArrayOfSigningPartyServiceResult" />
  <xs:complexType name="SigningPartyServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SigningId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SigningPartyServiceResult" nillable="true" type="tns:SigningPartyServiceResult" />
</xs:schema>