ReswareOrderMonitorService/Service References/ReswareOrders/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="CustomBinding_IOrderPlacementService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd3" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/OrderPlacement.Models" />
      <xsd:import schemaLocation="https://pcnd6.pcnclosings.com/OrderPlacementService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/OrderPlacement.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderPlacementService_PlaceOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_PlaceOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_GetOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderById" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_GetOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_DeleteOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderById" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_DeleteOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrderPlacementService_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderPlacementService">
    <wsdl:operation name="PlaceOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/PlaceOrder" message="tns:IOrderPlacementService_PlaceOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/PlaceOrderResponse" message="tns:IOrderPlacementService_PlaceOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/GetAllOrders" message="tns:IOrderPlacementService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/GetAllOrdersResponse" message="tns:IOrderPlacementService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/GetOrderById" message="tns:IOrderPlacementService_GetOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/GetOrderByIdResponse" message="tns:IOrderPlacementService_GetOrderById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/DeleteOrderById" message="tns:IOrderPlacementService_DeleteOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/DeleteOrderByIdResponse" message="tns:IOrderPlacementService_DeleteOrderById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderPlacementService/UpdateOrder" message="tns:IOrderPlacementService_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderPlacementService/UpdateOrderResponse" message="tns:IOrderPlacementService_UpdateOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomBinding_IOrderPlacementService" type="tns:IOrderPlacementService">
    <wsp:PolicyReference URI="#CustomBinding_IOrderPlacementService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/GetOrderById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrderById">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/DeleteOrderById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap12:operation soapAction="http://tempuri.org/IOrderPlacementService/UpdateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="CustomBinding_IOrderPlacementService" binding="tns:CustomBinding_IOrderPlacementService">
      <soap12:address location="https://pcnd6.pcnclosings.com/OrderPlacementService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://pcnd6.pcnclosings.com/OrderPlacementService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>