eClosings.Data/Service References/eClosingsIntegrationService/IntegrationService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PCN.WebService.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PCN.WebService.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mirthtest/IntegrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="IntegrationServiceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogFileExists" type="xs:boolean" />
      <xs:element minOccurs="0" name="LogPath" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IntegrationServiceInfo" nillable="true" type="tns:IntegrationServiceInfo" />
</xs:schema>