PCN-Integration.Services/Service References/PcnIntegrationServiceTest/IntegrationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PCN.WebService.Data" />
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PCN.WebService.Data.Results" />
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PCN.WebService.Wcf" />
      <xsd:import schemaLocation="http://mirthserver/IntegrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegrationService_SubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_SubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_GetOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrder" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_GetOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_SendTSIStatusUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTSIStatusUpdate" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_SendTSIStatusUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTSIStatusUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_TSISubmitOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:TSISubmitOrder" />
  </wsdl:message>
  <wsdl:message name="IIntegrationService_TSISubmitOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:TSISubmitOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegrationService">
    <wsdl:operation name="SubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationService/SubmitOrder" message="tns:IIntegrationService_SubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationService/SubmitOrderResponse" message="tns:IIntegrationService_SubmitOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationService/GetOrder" message="tns:IIntegrationService_GetOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationService/GetOrderResponse" message="tns:IIntegrationService_GetOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Version">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationService/Version" message="tns:IIntegrationService_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationService/VersionResponse" message="tns:IIntegrationService_Version_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTSIStatusUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationService/SendTSIStatusUpdate" message="tns:IIntegrationService_SendTSIStatusUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationService/SendTSIStatusUpdateResponse" message="tns:IIntegrationService_SendTSIStatusUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TSISubmitOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegrationService/TSISubmitOrder" message="tns:IIntegrationService_TSISubmitOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegrationService/TSISubmitOrderResponse" message="tns:IIntegrationService_TSISubmitOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegrationService" type="tns:IIntegrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IIntegrationService/SubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
      <soap:operation soapAction="http://tempuri.org/IIntegrationService/GetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/IIntegrationService/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTSIStatusUpdate">
      <soap:operation soapAction="http://tempuri.org/IIntegrationService/SendTSIStatusUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TSISubmitOrder">
      <soap:operation soapAction="http://tempuri.org/IIntegrationService/TSISubmitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegrationService">
    <wsdl:port name="BasicHttpBinding_IIntegrationService" binding="tns:BasicHttpBinding_IIntegrationService">
      <soap:address location="http://mirthserver/IntegrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>